* {
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    background-image: linear-gradient(180deg, #2e49c2 5%, #5073a8 20%, #5073a8 60%, #2e49c2 95%);
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.5rem 2rem 0 rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.25rem);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    color: #ffffff;
}

.form-input input {
    height: 2rem;
    outline: none;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.action-btn {
    text-align: center;
}

.btn-login {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid transparent;
}