.container {
    width: 100vw;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.form-input {
    width: 350px;
    margin: auto;
    position: relative;
}

.floating-input {
    display: block;
    font-size: 12px;
    width: 100%;
    height: 32px;
    padding: 0 20px;
    background: #ffffff;
    color: #333333;
    border: 1px solid gray;
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
}

.floating-label {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 5px;
    padding: 0 5px;
    background: #ffffff;
    color: gray;
    transition: 0.2s ease all;
}

.floating-input:focus {
    border: 1px solid rgb(6, 107, 221);
}

.floating-input:focus + .floating-label {
    top: -9px;
    color: rgb(6, 107, 221);
    font-size: 12px;
}