* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
    width: 320px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 25px 80px rgba(0, 0, 0, 0.15);
}

.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 16px;
}

.profile-img {
    height: 350px;
    width: 100%;
    transition: 0.4s ease-in-out all;
}

.container:hover .profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px,
                #fff 0 0 0 3px,
                blueviolet 0 0 0 5px;
}

.profile-name .user-name {
    font-size: 24px;
    font-weight: 500;
    font-variant: small-caps;
}

.profile-name .user-id {
    font-size: 14px;
    color: blue;
    font-weight: 500;
}

.profile-details {
    top: 100%;
    position: relative;
    background: rgba(137, 43, 226, 0.5);
    height: 100%;
    width: 100%;
    padding: 8px 0 0;
    transition: 0.5s ease-in-out all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container:hover .profile-details {
    top: 0;
}

.designation {
    font-size: 20px;
    font-variant: small-caps;
    font-weight: 500;
}

.social-connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-weight: 500;
}

.social-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
}

button {
    padding: 5px 16px;
    font-size: 12px;
    border: 1px solid transparent;
    line-height: 1.5;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    border-radius: 16px;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-view-more {
    width: 50%;
    background: black;
    color: white;
}