* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background: #fff;
}

.container {
    margin: auto;
    padding: 1.25rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    background: linear-gradient(45deg, #007bff, #fff);
    filter: drop-shadow( 0 0 20px #007bff4a);
    box-shadow: 0 25px 80px rgba(0, 0, 0, .15);
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 3rem;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, .2), 0 5px 15px 0 rgba(0, 0, 0, .15);
    box-sizing: border-box;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-img img {
    width: 4rem;
    cursor: pointer;
    border-radius: 50%;
}

.profile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.full-name {
    font-size: 1.125rem;
    font-weight: 600;
}

.user-name {
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

.menu-icon::after {
    content: '\2807';
}

.menu-icon {
    font-size: 1.5rem;
    transform: rotate(90deg);
    color: #007bff;
    cursor: pointer;
}
