:root {
    --color-background: #141414;
    --color-text-white: #FFFFFF;
    --color-placeholder: #C4C4C4;
    --color-light-black: #29384D;
    --color-background-input-field: #242424;
    --color-border-1: #383838;
    --color-actions: #38E078;
    --color-border: #E5E8EB;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text-white);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 65px;
    box-shadow: 0 0 0.8px 0 var(--color-border);
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 64px;
}

.nav-links {
    display: flex;
    gap: 24px;
    padding: 0;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: var(--color-text-white);
}

.nav-link a:hover {
    color: var(--color-actions);
}

.nav-buttons {
    display: flex;
    gap: 8px;
}

.btn {
    height: 40px;
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn-sign-in {
    background-color: var(--color-actions);
}

.btn-sign-up {
    background-color: var(--color-light-black);
    color: var(--color-text-white);
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 36px;
}

input {
    height: 56px;
    border-radius: 12px;
    border: 1px solid var(--color-border-1);
    outline: none;
    width: 456px;
    padding: 0 8px 0 16px;
    background-color: var(--color-background-input-field);
    color: var(--color-text-white);
}

.input-name {
    display: flex;
    gap: 24px;
}

.input-name input {
    width: 204px;
}

.btn-submit {
    background-color: var(--color-actions);
    width: 480px;
}

.social-contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.social {
    width: 432px;
    height: 64px;
    border: 1px solid var(--color-border-1);
    border-radius: 12px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-action {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-actions);
    cursor: pointer;
}

::placeholder, .handle, .or-text {
    color: var(--color-placeholder);
}