* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

.container {
    background: url('/bg.png') center no-repeat;
    height: 100%;
    background-size: cover;
}

.header {
    height: 5rem;
    display: flex;
    background: linear-gradient(45deg, #0000004a, transparent);
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: #fff;
    margin: auto;
}

.left-section img {
    width: 5rem;
    cursor: pointer;
}

.right-section {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-link {
    list-style: none;
    cursor: pointer;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    position: relative;
}

.btn-login {
    background: linear-gradient(45deg, #e1d5f5, #63a9fe);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}

a:hover {
    color: #00bfff;
}

a::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: linear-gradient(45deg, #e1d5f5, #63a9fe);
    height: 1px;
    transition: all 0.3s;
}

a:hover::before {
    width: 100%;
}